!!! Strict
%html
  %head
    %title Canvas Crop example
    %script{:src => "js/script.ck.js", :type => "text/javascript"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/style.css"}
  %body

  .b-preview{"data-crop" => "img/navalny.png"}

  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br

  .b-preview{"data-crop" => "img/me.png"}

