.b-preview { cursor: pointer; width: 83px; height: 83px; background: url("../img/preview.png") no-repeat left top; opacity: 0.5; display: block; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -ms-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s false; }
.b-preview:hover { opacity: 1; }

.b-preview_one { position: absolute; left: 30px; top: 70px; }

.b-preview_two { position: absolute; right: 30px; top: 70px; }

.b-preview_three { position: absolute; left: 140px; top: 70px; }

body { margin: 30px; font-family: "Trebuchet MS"; }

h1 { font-size: 20px; font-weight: bold; color: #434343; border-bottom: 1px solid rgba(67, 67, 67, 0.2); }
